<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>ps_creaTablas</name>
	<displayName><![CDATA[ps_creaTablas]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Crea tablas en ps_customer]]></description>
	<author><![CDATA[Nicolás Caffa Carreras]]></author>
	<tab><![CDATA[administration]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
